apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-connect
  namespace: kafka-connect
  labels:
    app: kafka-connect
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-connect
  template:
    metadata:
      labels:
        app: kafka-connect
    spec:
      containers:
        - name: kafka-connect
          image: confluentinc/cp-kafka-connect:7.6.1
          imagePullPolicy: IfNotPresent
          env:
            - name: CONNECT_BOOTSTRAP_SERVERS
              value: "kafka-controller-headless.kafka.svc.cluster.local:9092"

            - name: CONNECT_LISTENERS
              value: "http://0.0.0.0:8083"
            - name: CONNECT_REST_ADVERTISED_HOST_NAME
              value: "kafka-connect-sede.safeweb.com.br"
            - name: CONNECT_REST_ADVERTISED_PORT
              value: "443"

            - name: CONNECT_GROUP_ID
              value: "kconnect-cluster"
            - name: CONNECT_CONFIG_STORAGE_TOPIC
              value: "kconnect-configs"
            - name: CONNECT_OFFSET_STORAGE_TOPIC
              value: "kconnect-offsets"
            - name: CONNECT_STATUS_STORAGE_TOPIC
              value: "kconnect-status"
            - name: CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR
              value: "1"
            - name: CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR
              value: "1"
            - name: CONNECT_STATUS_STORAGE_REPLICATION_FACTOR
              value: "1"

            - name: CONNECT_KEY_CONVERTER
              value: "org.apache.kafka.connect.json.JsonConverter"
            - name: CONNECT_KEY_CONVERTER_SCHEMAS_ENABLE
              value: "false"
            - name: CONNECT_VALUE_CONVERTER
              value: "org.apache.kafka.connect.json.JsonConverter"
            - name: CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE
              value: "false"

            - name: CONNECT_PLUGIN_PATH
              value: "/usr/share/java"

          ports:
            - name: http
              containerPort: 8083

          resources:
            requests:
              cpu: "200m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"

          readinessProbe:
            httpGet:
              path: /connectors
              port: 8083
            initialDelaySeconds: 20
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 6

          livenessProbe:
            httpGet:
              path: /connectors
              port: 8083
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6